body {
  /*background-color: black;
  color: white;*/
  text-align: center;
}

.card {
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 70%;
}

.card-header {
  background-color: grey;
}

.card-block {

}
